@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.card {
    width: 100%;
    background: linear-gradient(to right, #f26f6f, #f42b2b);
    text-align: center;
    margin: 10px;
    border: none;
    transition: transform 0.3s ease-in-out;
}



.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.character_name {
    font-size: 14px;
    font-family: "Segoe UI";
    color: white;
    margin-top: 10px;
}