.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 70px;
    background: linear-gradient(to right, #dfc7c7, #ff6666);
}

.container label {
    position: relative;
    font-size: 22px;
    color: white;
    margin-right: 20px;
    text-shadow: 1px 2px 4px gray;
}

.container label::after {
    content: "";
    position: absolute;
    bottom: -4px;
    background-color: white;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.4s ease;
}


.container label:hover::after {
    width: 100%;
}


.container label b {
    font-size: 22px;
    color: red;
    margin-left: 3px;
}

.container input {
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 250px;
    box-shadow: 1px 1px 10px rgb(142, 136, 136);
}

.container input:focus-visible {
    outline-style: none;
    border: 1px solid linear-gradient(to right, red, purple);

}