.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 70px;
    background: linear-gradient(to right, #dfc7c7, #ff6666);
    margin-bottom: 50px;
}

.container label {
    position: relative;
    font-size: 22px;
    color: white;
    margin-right: 20px;
    text-shadow: 1px 2px 4px gray;
}

.container label::after {
    content: "";
    position: absolute;
    bottom: -4px;
    background-color: white;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.4s ease;
}


.container label:hover::after {
    width: 100%;
}


.container label b {
    font-size: 22px;
    color: red;
    margin-left: 3px;
}

.container input {
    border-radius: 6px;
    border: none;
    height: 35px;
    width: 250px;
    box-shadow: 1px 1px 10px rgb(142, 136, 136);
}

.container input:focus-visible {
    outline-style: none;
    border: 3px solid transparent;
    border-image: linear-gradient(to left, #dfc7c7, #ff6666);
    border-image-slice: 1;
}

.container button {
    margin-left: 10px;
    height: 35px;
    text-align: center;
    box-shadow: 1px 1px 3px gray;
}

.container button:hover {
    cursor: pointer;
}