.container {
    margin: auto;
    width: 90%;
    transform: rotateY(180deg);
}

.container div {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 4px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.container div:hover {
    transform: translateY(-5px);
}

.container div b {
    color: #333;
    font-size: 18px;
}

.container div span {
    font-size: 16px;
    color: #666;
}